demaut-project/demaut-microbiz/src/main/xsd/consultePersonneRI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PERSONNE">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="AA"/>
        <xs:element type="xs:string" name="NUMEDOSS"/>
        <xs:element type="xs:string" name="CODEQUALPERS"/>
        <xs:element type="xs:string" name="QUALPERS"/>
        <xs:element type="xs:string" name="NUMEPERS"/>
        <xs:element type="xs:string" name="CIVIPERS"/>
        <xs:element type="xs:string" name="NOM_PERS"/>
        <xs:element type="xs:string" name="PRENPERS"/>
        <xs:element type="xs:string" name="DATENAISPERS"/>
        <xs:element type="xs:string" name="NUMEAVSPERS"/>
        <xs:element type="xs:string" name="NUMENSSPERS"/>
        <xs:element type="xs:string" name="ADR1PERS"/>
        <xs:element type="xs:string" name="ADR2PERS"/>
        <xs:element type="xs:string" name="ADR3PERS"/>
        <xs:element type="xs:string" name="TELPERS"/>
        <xs:element type="xs:string" name="CODEAS"/>
        <xs:element type="xs:string" name="CIVIAS"/>
        <xs:element type="xs:string" name="NOM_AS"/>
        <xs:element type="xs:string" name="PRENAS"/>
        <xs:element type="xs:string" name="GRP_AS"/>
        <xs:element type="xs:string" name="CODEAD"/>
        <xs:element type="xs:string" name="CIVIAD"/>
        <xs:element type="xs:string" name="NOM_AD"/>
        <xs:element type="xs:string" name="PRENAD"/>
        <xs:element type="xs:string" name="GRP_AD"/>
        <xs:element type="xs:string" name="DEBUAIDE"/>
        <xs:element type="xs:string" name="FIN_AIDE"/>
        <xs:element type="xs:string" name="NBPERSMENA"/>
        <xs:element type="xs:string" name="CAISMALA"/>
        <xs:element type="xs:string" name="PRIMMALA"/>
        <xs:element type="xs:string" name="LOYEPAYE"/>
        <xs:element type="xs:string" name="LOYEHORSNORME"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>