demaut-project/demaut-microbiz/src/main/xsd/rechercherPersonnesRI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PERSONNES">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PERSONNE" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="NUMEDOSS"/>
              <xs:element type="xs:string" name="CODEQUALPERS"/>
              <xs:element type="xs:string" name="QUALPERS"/>
              <xs:element type="xs:string" name="NUMEPERS"/>
              <xs:element type="xs:string" name="NOM_PERS"/>
              <xs:element type="xs:string" name="PRENPERS"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>